<?xml version="1.0" ?>
<model>
    <name>test_bench</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Peter Mitrano</name>
        <email>mitranopeter@gmail.com</email>
    </author>
    <description>model for wpilib simulation test system</description>
</model>
